/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: -moz-box;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
}

/*INFOR FROM MODAL BLOG TUTORIAL 
https://medium.com/swlh/how-to-create-a-modal-dialog-component-in-angular-8-88028d909be0

Overwrite the styles of the mat-dialog-container element globally, but only for those
that have an id of `modal-component` */
/* https://stackoverflow.com/a/48689004/9263761 */


